.card-image {
    height: 280px;
    width: 100%;
}

.card-style {
    width: 20rem;
    margin: 5px;
}

#itemCard > #itemButtons {
    visibility: hidden;
    opacity: 0;
    border: none;
    position: absolute;
    right: 0;
    margin: 5px !important;
}

#itemCard:hover > #itemButtons {
    visibility: visible;
    opacity: 1;
    transition: visibility 0s, opacity 0.3s linear !important;
    background-color: transparent;
    border: none;
    position: absolute;
    right: 0;
    margin: 5px !important;
}

@media (max-width: 400px) {
    .card-style {
        width: auto !important;
    }
}
