.custom-style{
    background-color: #172b4d;
    position: absolute;
    top: 0;
    z-index: -1;
    width: 100%;
    height: 115px;
}

@media (max-width: 991px) {
    .custom-style{
        height: 80px !important;
    }
    .section {
        padding-bottom: 30px !important;
    }
}

.middle-screen-cart{
    margin: 0 0 15px auto !important;
    display:block !important;
}

.background-image {
    background-image: url("../../assets/img/background-menu.jpg");
    background-repeat: repeat;
    background-blend-mode: overlay;
}

.background-container {
    background-color: white;
}

