.item-price-add-form{
    border: 1px solid #AAAAAA;
    display: flex;
    justify-content: space-between !important;
    padding: 5px 10px;
    border-radius: 6px;
}

.dropdown-button {
    box-shadow: none !important;
}

.input-style{
}

.add-item-price-button{
    float: right !important;
}

.alert-details{
    margin-top: 15px;
}

.input-number-width{
    width: 50px;
}

@media (max-width: 411px) {
    .add-to-cart-button{
        width: 100%;
    }
    .input-number-width{
        width: 100%;
    }
}


