.headroom--not-top{
    background-color: #0b90a8 !important;
}

@media (max-width: 991px) {
    #brandImage {
        width: 50px !important;
        height: 50px !important;
    }
}

@media (min-width: 992px) {
    .navbar-nav .dropdown-menu-right:before {
        right: 40px !important;
        left: auto !important;
    }
}
